<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>jw_class_sys后台管理系统</title>
<link rel="stylesheet" type="text/css" href="../../static/app/bootstrap3.3.7/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/app/bootstrap3.3.7/bootstrap-table.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/admin/home.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/admin/admin_user.css" />


</head>
<body>
<div class="top-part">
</div>
<div class="content-part container">
	<div class="row">
		<div class="nav-left col-md-3 col-sm-3">
		</div>
		<div class="content-right col-md-9 col-sm-9">
			<ul class="nav nav-pills nav-stacked" style="border: 1px solid #d9edf7;border-radius:4px;">
			</ul>
		</div>
	</div>
</div>
<div class="admin-title">
<span>JW_CLASS_SYS</span>后台管理系统
</div>
<div class="container container-box">
	<div class="row"  style="height: 100%;">
		<div class="col-md-2 col-sm-2" id="nav_bar" style="padding-top:45px;">
			<ul class="nav nav-pills nav-stacked" style="border: 1px solid #d9edf7;border-radius:4px;">
				<li id="user" class="menuClass active" onClick="changeTo('user',this)"><a href="#">用户管理</a></li>				
				<li id="role"  class="menuClass" onClick="changeTo('class',this)"><a href="#">班级管理</a></li>
				<li id="role"  class="menuClass" onClick="changeTo('role',this)"><a href="#">角色管理</a></li>
				<li id="permission"  class="menuClass" onClick="changeTo('permission',this)"><a href="#">权限管理</a></li>
			</ul>
		</div>
		<div class="col-md-10 col-sm-10" style="height: 100%;">
			<div id="admin-toolbar row">
				<div class="col-md-5" style="float:left;padding:0px;margin-bottom:0;">
					<input type="button" class="btn btn-primary btn-sm btn-lg" id="addBtn"data-toggle="modal" data-target="#addUserModal" value="添加">
					<input type="button" class="btn btn-primary btn-sm bt-patch" value="批量导入">
					<input type="button" class="btn btn-primary btn-sm bt-patch" value="批量删除">
					<a herf="">导入模板下载</a>
				</div>
				<div class="input-group search-group col-md-3"style="float:right;margin-right:15px;margin-bottom:8px;">
					<input type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" onclick="searchUser()">查询</button>
					</span>               
				</div>				
			</div>
			<div >
				<table id="admin-table" class="table"></table>
			</div>
		</div>
	</div>
</div>

<!--添加  模态框  -->
<div ng-app="addUserApp" ng-controller="addUserController" class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="userModalLabel">
					添加用户
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="userName">名称:</label>
					<input type="text" class="form-control" id="userName" placeholder="请输入名称"/>
					<span class="require userNameReq">请输入用户名称</span>
				</div>
				<div class="form-group">
					<label for="password">密码:</label>
					<input type="text" class="form-control" id="password" placeholder="请输入密码"/>
					<span class="require passwordReq">请输入用户密码</span>
				</div>
				<div class="form-group">
					<label for="remark">备注:</label>
					<input type="text" class="form-control" id="remark" placeholder="请输入备注"/>
				</div>
				<div class="form-group">
					<label for="roleName">角色:</label>
					<select class="userRole form-control"id="userRole" ng-model="selectedRole"
						 ng-options="role.role_name for role in roles track by role.role_id">
					</select>
				</div>
				<div class="form-group">
					<label for="userGrade">年级:</label>
					<select class="userGrade form-control"id="userGrade" ng-model="selectedGrade"
						 ng-options="grade.grade_name for grade in grades track by grade.grade_id"
						 ng-change="getClassList(selectedGrade.grade_id)">
					</select>
				</div>
				<div class="form-group">
					<label for="userClass">班级:</label>
					<select class="userClass form-control" id="userClass" ng-model="selectedClass"
						ng-options="class.class_name for class in classes track by class.class_id">
					</select>
				</div>
			</div>
			
			<!-- test -->
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="submit" class="btn btn-primary" onclick="addUser()">
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
		
	</div><!-- /.modal -->
</div>

<!-- 编辑用户 模态框 -->
<div ng-app="editUserApp" ng-controller="editUserController" class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
	
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{test}}
				</h4>
			</div>
			<div class="modal-body">
				在这里添加一些文本
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	
	<!-- <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="editUserModal">
					添加用户{{test}}
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="user1">名称:</label>
					<input type="text" class="form-control" id="user1" placeholder="请输入名称"/>
					<span class="require userNameReq">请输入用户名称</span>
				</div>
				<div class="form-group">
					<label for="password">密码:</label>
					<input type="text" class="form-control" id="password" placeholder="请输入密码"/>
					<span class="require passwordReq">请输入用户密码</span>
				</div>
				<div class="form-group">
					<label for="remark">备注:</label>
					<input type="text" class="form-control" id="remark" placeholder="请输入备注"/>
				</div>
				<div class="form-group">
					<label for="roleName">角色:</label>
					<select class="userRole form-control"id="userRole" ng-model="selectedRole"
						 ng-options="role.role_name for role in roles track by role.role_id">
					</select>
				</div>
				<div class="form-group">
					<label for="userGrade">年级:</label>
					<select class="userGrade form-control"id="userGrade" ng-model="selectedGrade"
						 ng-options="grade.grade_name for grade in grades track by grade.grade_id"
						 ng-change="getClassList(selectedGrade.grade_id)">
					</select>
				</div>
				<div class="form-group">
					<label for="userClass">班级:</label>
					<select class="userClass form-control" id="userClass" ng-model="selectedClass"
						ng-options="class.class_name for class in classes track by class.class_id">
					</select>
				</div>
			</div>
			
			test
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="submit" class="btn btn-primary" onclick="addUser()">
					确定
				</button>
			</div>
		</div>/.modal-content
		
	</div> --><!-- /.modal -->
</div>


	



</body>
</html>
<script src="../../static/app/jquery/jquery-3.4.1.min.js"></script>
<script src="../../static/app/bootstrap3.3.7/bootstrap.min.js"></script>
<script src="../../static/app/bootstrap3.3.7/bootstrap-table.min.js"></script>
<script src="../../static/app/angular.min.js"></script>
<script src="../../static/app/appconfig.js"></script>
<script src="../../static/js/app/homeController.js"></script>
<script src="../../static/js/admin/home.js"></script>
<script src="../../static/js/admin/admin_user.js"></script>