<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jw.dao.UserDao">

    <resultMap id="VwUserRoleMap" type="com.jw.pojo.VwUserRole" >
        <id column="user_id" property="userId" jdbcType="NUMERIC" />
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="LAST_MODIFY_TIME" property="lastModifyTime"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="user_role_id" property="userRoleId" jdbcType="NUMERIC"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="class_id" property="classId" jdbcType="NUMERIC"/>
        <result column="class_name" property="className" jdbcType="VARCHAR"/>
        <result column="grade_id" property="gradeId" jdbcType="NUMERIC"/>
        <result column="grade_name" property="gradeName" jdbcType="VARCHAR"/>
    </resultMap>
	
    <select id="getUserByName"  parameterType="string" resultType="com.jw.pojo.User">
        select * from table_user where username = #{0}
    </select>

    <select id="getUserList" resultMap="VwUserRoleMap">
       SELECT b.user_role_id, a.*, c.role_id, c.role_name,g.class_id,g.class_name,g.grade_id
			from tb_user a 
			LEFT JOIN tb_user_role b ON a.user_id = b.user_id
			LEFT JOIN tb_role c ON b.role_id = c.role_id
			LEFT JOIN tb_class_user f ON a.user_id = f.user_id
			LEFT JOIN (
				SELECT d.class_id, CONCAT( e.grade_name, " ", d.class_name ) class_name, d.grade_id
				FROM tb_class d
				LEFT JOIN tb_grade e ON d.grade_id = e.grade_id )g 
			ON f.class_id = g.class_id 
			order by a.last_modify_time
    </select>
    
    <insert id="createUser" parameterType="com.jw.pojo.User">
    	insert into table_user(username,password) values(#{userName},#{password})
    </insert>
    
    <insert id="newOneUser" useGeneratedKeys="true" keyProperty="userId" parameterType="com.jw.pojo.User">	    
    	insert into tb_user
    		(user_name,password,salt,create_time,last_modify_time,remark)
    		values(#{userName},#{password},#{salt},#{createTime},#{lastModifyTime},#{remark})
    	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="userId">
	          SELECT LAST_INSERT_ID()
	    </selectKey>
    </insert>
    
    <delete id="delOneUser" parameterType="java.lang.Long">
    	delete from tb_user where user_id=#{userId}
    </delete>
    
</mapper>